body{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    background-image: url("bg2.jpg");
    background-position: contain;
    background-repeat: no-repeat;
    }
    #wrapper { margin-left: auto; 
       margin-right: auto; 
       width: 70%; }
    nav
     { 
       background-color:bisque;
   color:beige;
   line-height: 250%;
   text-size-adjust: 100px;
   text-decoration: none; 
   font-stretch: wider;
   }
   h2, h3 { font-family: Georgia, "Times New Roman", serif; }
   footer{
       font-size: small;
       font-style: italic;
   }